<!doctype html>
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<title>Cadastro de Usuários</title>
</head>

<body>
	<div class="container-fluid">
		<div class="card-header">
			<strong>Cadastro de Usuários</strong>
		</div>
		<div class="container">
			<div class="card-body">
				<form class="form-horizontal" th:object="${usuario}" th:action="@{/Usuario/salvar}" method="POST" style="margin: 10px">
					<div class="form-group">
						<fieldset>
							<div class="form-group">
								<input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome"
								 maxlength="50" name="" />
							</div>
		
							<div class="form-group">
								<input type="text" class="form-control input-sm" th:field="*{sobrenome}" autofocus="autofocus" placeholder="Informe o sobrenome"
								 maxlength="50" name="" />
							</div>
							
							<ul>
								<li th:each="perfil : ${perfis}">
									<input type="checkbox" name="perfil" th:value="${perfil.id}" />
									<label th:text="${perfil.nome}" />
								</li>
							</ul>
						</fieldset>
					</div>
					<div align="center">
						<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
						<a th:href="@{/Usuario/listar}" class="btn btn-sm btn-default">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
</body>

</html>