<!doctype html>
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<title>Usuarios</title>
</head>

<body>
	<div class="container-fluid">
		<div class="card-header">
			<strong>LISTA DE USUÁRIOS</strong>
		</div>
		<div class="card-body">
			<div th:if="${usuarios.isEmpty()}">
				<h1 class="text-center">Nenhum registro encontrado!</h1>
			</div>
			<div th:unless="${usuarios.isEmpty()}" class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Perfil</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${usuarios}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.nome + ' ' + user.sobrenome}"></td>
							<td><span th:each="perfil : ${user.perfis}" th:text="${'' + perfil.nome + '/'}"></span></td>
							<td>
								<div class="btn-group float-right">
									<a class="btn btn-sm btn-primary" th:href="@{/alterar/{id}(id=${user.id})}">Editar</a> <a class="delete btn btn-sm btn-danger"
									 th:href="@{/Usuario/excluir/{id}(id=${user.id})}">Excluir</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer">
			<a class="btn btn-sm btn-success" th:href="@{/Usuario/adicionar}">Adicionar</a>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
</body>

</html>