<!doctype html>
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<title>Login</title>
	<style type="text/css">
	
	.bg-info {
    background-color: #4169E1!important;
}
</style>
</head>

<body>
	<div class="container-fluid">
		<div class="card-header">
			<strong>LOGIN</strong>
		</div>
		<div class="container">
			<div class="row mt-5">
				<div class="col-4"></div>
				<div class="col-4 pt-2 bg-info">
					<div class="card-body">
						<form class="form-horizontal" th:object="${usuario}" th:action="@{/validar}" method="POST" style="margin: 10px">
							<div class="form-group">
								<fieldset>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1"style="background:#28A745" ><strong>@</strong></span>
										</div>
										<input th:field="*{email}" type="text" class="form-control" placeholder="E-mail">
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend" >
											<span class="input-group-text" id="basic-addon1" style="background:#28A745"><strong>@</strong></span>
										</div>
										<input th:field="*{senha}" type="text" class="form-control" placeholder="Senha">
									</div>
								</fieldset>
							</div>
							<div align="center">
								<button type="submit" class="btn btn-sm btn-success">Entrar</button>
								<a th:href="@{/erro}" class="btn btn-sm btn-default text-light">Cancelar</a>
							</div>
							<!--
							<div align="center">
								<a th:href="@{/erro}" class="btn btn-sm btn-default mt-2 text-light">Cadastre-se</a>
							</div>
							 -->
						</form>
					</div>
					<div class="col-4"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
</body>

</html>